html{
    scroll-behavior:smooth;
}
nav {
    color: inherit;
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 18px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(220, 33, 33, 0.8));
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}
nav a:hover {
    border-radius: 4px;
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    background-color: rgb(187, 111, 111);
    transition: all 0.3s ease;
}
body{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.867);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: white;
}
.form{
    margin-top: 20px;
    padding: 20px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}